<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title></title>
		<link rel="stylesheet" href="../../static/css/bootstrap.min.css" />
		<!--<link rel="stylesheet" href="../../static/css/layui.css" />-->
		<script type="text/javascript" src="../../static/js/jquery-3.3.1.min.js"></script>
		<script type="text/javascript" src="../../static/js/bootstrap.min.js"></script>
		<!--<script type="text/javascript" src="../../static/js/layui.all.js" ></script>-->
	</head>
	<div class="container">
		<ul class="nav">
			<li class="nav-item">
				<a class="nav-link" href="https://www.bilibili.com">BiliBili</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="http://www.dilidili.wang">DiliDili</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="https://www.pixiv.net/">pixiv</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#"></a>
			</li>
		</ul>
	</div>
	</body>

</html>